.button {
    font: inherit;
    /* border: 1px solid #4f005f; */
    /* background: #4f005f; */
    border: 1px solid #a90fc8;
    background: #a90fc8;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    margin: 5px;
  }
  
  .button:hover,
  .button:active {
    /* background: #741188; */
    background: orange;
    /* border-color: #741188; */
    border-color: orange;
  }
  
  .button:focus {
    outline: none;
  }